<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Tourisys</title>
  </head>
  <body>
    <h1>Escolha para qual categoria você deseja gerar as recomendações</h1>
    <form action="/sendCategory" method="post">
      <div>
        <input type="radio" name="options" id="art" value="art">Arte</input><br>
        <input type="radio" name="options" id="entertainment" value="entertainment">Entreterimento</input><br>
        <input type="radio" name="options" id="all" value="all">Todas categorias</input><br>
      </div>
      <input type="submit" value="Escolher categorias"/>
    </form>
  </body>
</html>
