{% extends "main.html" %} {% block content %}
<div>
  <h1 class="main-title">Olá,</h1>
  <h2 class="main-title">Por favor siga as etapas:</h2>
</div>
<div>
  <form action="/choose-places" method="post">
    <h3 class="main-title">Por favor insira um nome como usuário</h3>
    <input type="text" id="user_name" name="user_name" />
    <h3 class="main-title">Você já visitou e conheceu lugares na cidade de <b>São Paulo - SP</b>:</h3>
    <div class="form-options">
      <div class="choose-box">
        <div>
          <input type="radio" name="options" id="ssa" value="true" />
          <label class="label-options" for="ssa">Sim</label>
        </div>
      </div>
      <div class="choose-box">
        <div>
          <input type="radio" name="options" id="sp" value="false" />
          <label class="label-options" for="sp">Não</label>
        </div>
      </div>
    </div>
    <input class="submit-option" type="submit" value="Escolher cidade" />
  </form>
</div>

<style>
  .main-title {
    color: #425056;
  }

  .choose-box {
    width: 300px;
  }

  .img-box {
    height: 150px;
    border-radius: 10px;
  }

  .form-options {
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
  }

  .label-options {
    margin-top: 20px;
    color: #425056;
  }

  .submit-option {
    border-radius: 10px;
    width: 170px;
    margin-top: 30px;
  }
</style>
{% endblock %}
