<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Tourisys</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-div">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>

<style>
  body {
    background-color: #c9f6ff6e;
    font-family: "Nunito Sans", sans-serif;
  }
  .main-div {
    justify-content: center;
    text-align: center;
    background-color: #00000014;
    margin: 55px;
    padding: 30px;
    border-radius: 28px;
  }
</style>
