{% extends "main.html" %} {% block content %}
<div>
  <h1 class="main-title">Muito obrigada</h1>
  <h2 class="main-title">Em algumas horas você recebera um link para avaliação das rotas!</h2>
</div>

<style>
  .main-title {
    color: #425056;
  }

  .choose-box {
    width: 300px;
  }

  .img-box {
    height: 150px;
    border-radius: 10px;
  }

  .form-options {
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
  }

  .label-options {
    margin-top: 20px;
    color: #425056;
  }

  .submit-option {
    border-radius: 10px;
    width: 170px;
    margin-top: 30px;
  }
</style>
{% endblock %}
